 
merged_camilo.csv
all_merged.csv
oil_hydro_biomass_gas_nuclear_merged.csv
all_features_merged.csv
all_dummies.csv
dummies_cleaned.csv
X_test.csv
X_train.csv
y_test.csv
y_train.csv
X_scaled.csv
X_train_scaled.csv
X_test_scaled.csv
ridgeCV_actual_vs_predicted.csv
dates_shift.csv
X_train_shift.csv
X_test_shift.csv
y_train_shift.csv
y_test_shift.csv
X_train_shift_year.csv
X_test_shift_year.csv
y_train_shift_year.csv
y_test_shift_year.csv
X_train_shift_shorter.csv
X_test_shift_shorter.csv
y_train_shift_shorter.csv
y_test_shift_shorter.csv
dates_shift_exclude.csv
lasso_with_interactions_model.pkl
mse_test_interactions.npy
optimal_alpha_with_interactions.npy
predictions_lassoCV_with_interactions.csv